@font-face {
    font-family: norseFont;
    src: url(Norse-Bold.otf);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
}

.flex-h {
    display: flex;
    flex-direction: row;
}

.flex-v {
    display: flex;
    flex-direction: column;
}

.fill {
    align-items: stretch;
    height: 100%;
}

.banner {
    display: flex;
    flex-direction: row;
    height: 10em;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, 0.5);
    margin-top: 20vh;
}

.banner img {
    max-height: 90%;
}

.banner div {
    font-size: 7em;
    font-family: norseFont;
}

.splash {
    width: 40em;
    flex-grow: 0;
    background-image: url("/img/karsten-winegeart-g3Y6roWpMYY-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}

.splash .footer-left {
    align-self: center;
}

.splash .footer-left a {
    color: aliceblue;
}

.content {
    /* flex-grow: 0.7; */
    display: flex;
    /* justify-content: space-between; */
    background-color:rgb(245, 245, 248);
}

.footer-left {
    margin-top: auto;
}

.header,
.footer {
    flex-grow: 1;
}

.body {
    height: 40vh;
    background-color: #FFF;
}

.small-box {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 1em;
}