* {
    margin: 0;
    box-sizing: border-box;
}

div {
    border: 1px dotted red;
}

body {
    height: 100vh;
}

.flex-h {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.fill {
    height: 100%;
}

.splash {
    flex-grow: 0.3;
    background-image: url("/img/karsten-winegeart-g3Y6roWpMYY-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    flex-grow: 0.7;
}