@font-face {
    font-family: norseFont;
    src: url(Norse-Bold.otf);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 1em;
    align-items: start;
    justify-content: end;
}

.header div {
    width: 50%;
    font-weight: 700;
}

body {
    height: 100vh;
}

.flex-h {
    display: flex;
    flex-direction: row;
}

.flex-v {
    display: flex;
    flex-direction: column;
}

.fill {
    align-items: stretch;
    height: 100%;
}

.form-title {
    font-size: 1.2em;
}

form {
    padding: 1em 2em 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-row {
    gap: 2em;
}

input {
    border: 1px solid #AAA;
    border-radius: 2px;
    font-size: 1.2em;
    height: 1.5em;
    width: 14em;
    transition: 0.2s;
}

input::placeholder {
    color: #AAA;
}

input:invalid {
    border: 2px solid red;
}

input:placeholder-shown {
    /* Code doesn't recognise this as valid, but browsers do! */
    /* That's what the blue text means. */
    border: 1px solid #AAA;
}

input:focus {
    /* This isn't working. */
    /* It's seeminly getting overridden by some other rule */
    /* and I think it's a Chrome built-in thing. */
    /* So I'm replacing the border rule with a glow rule. */
    /* border: 2px blue solid; */
    box-shadow: 0px 0px 2px 3px blue;    
}

.body {
    background-color: #FFF;
}

form label {
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
}

.banner {
    display: flex;
    flex-direction: row;
    height: 10em;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, 0.5);
    margin-top: 20vh;
}

.banner img {
    max-height: 90%;
}

.banner div {
    font-size: 7em;
    font-family: norseFont;
}

.splash {
    width: 40em;
    flex-grow: 0;
    background-image: url("/img/karsten-winegeart-g3Y6roWpMYY-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}

.splash .footer-left {
    align-self: center;
}

.splash .footer-left a {
    color: aliceblue;
}

.content {
    display: flex;
    background-color:rgb(245, 245, 248);
}

.footer-left {
    margin-top: auto;
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

.header,
.footer {
    flex-grow: 1;
}

button {
    color: rgb(245, 245, 248);
    background-color: #38679e;
    border: none;
    border-radius: 5px;
    padding: 0.8em 2.4em;
    font-weight: 700;
    margin-bottom: 2em;
    cursor: pointer;
}

.content a {
    text-decoration: none;
    font-weight: 700;
    color: #38679e;
}

.small-box {
    padding: 2em;
    gap: 1em;
}